body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  margin: 0;
  background-color: #E0FCFF;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}

header h1 {
  font-size: 36px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
  text-align: center;
  justify-content:space-around
}

.beast-card {
  width: 300px;
}
.beast-card p {
  padding: 0 15px 0 15px;
}

div img {
  width: 250px;
  height: 250px;
  border: 2px solid #e3e3e3;
  border-radius: 5px;
}

.beast-card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.desc{
  margin-top: 10px;
}

.vote{
  font-weight: 500;
}

footer {
  margin: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #E0FCFF;
}

footer p {
  color: #7098DA;
  display: flex;
  flex-direction: column;
  justify-content: center;
}